[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg = "*"
django-heroku = "*"
gunicorn = "*"
heroku3 = "*"
django = "*"
validate-email = "*"
six = "*"

[dev-packages]

[requires]
python_version = "3.10"
