{% extends "base.html" %}{% block content %}

<div class="container mt-3">

    {% include 'partials/_messages.html'%}
    <form action="{% url 'preferences' %}" method="post">
        {% csrf_token %}
        <div class="input-group">
            <select name="currency" class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
              <option selected>Choose...</option>
              {% for currency in currencies %}
              <option name="currency"  value="{{currency.name}} - {{currency.value}}" >{{currency.name}} - {{currency.value}}</option>

              {% endfor %}
            <div class="input-group-append">
                <input class="btn btn-outline-secondary" type="submit" value="save" />
            </div>
            </select>

        </div>
    </form>
    <!-- <h5>Preferences Currency</h5> -->
    <hr /> {% endblock content %}