{% extends "base_auth.html" %} {% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <div class="card mt-5">

            <!-- <h4>{{ my_title }} </h4> -->
            <div class="card-body mt-3">
                <div class="card-title">
                    <h4>Register for free account </h4>
                </div>

                <form action="" method="post" class="">

                    <div class="form-group mt-3">
                        <input type="text" name="username" placeholder="Username" id="usernameField" class="form-control form-control-sm" />
                    </div>
                    <div class="form-group mt-3">
                        <input type="email" name="email" placeholder="Email" id="emailField" class="form-control form-control-sm" />
                    </div>
                    <div class="form-group mt-3">
                        <input type="password" name="password" placeholder="Password" id="passwordlField" class="form-control form-control-sm" />
                        <small class="float-end py-2 d-inline">SHOW</small>
                    </div>
                    <div class="form-group d-grid py-2 mt-3">
                        <input type="submit" value="Register" class="btn btn-block btn-primary">
                    </div>

                </form>


            </div>

        </div>
    </div>
    <div class="col-md-4"></div>
</div>


{% endblock content %}